
@font-face {
  font-family: forta, sans-serif;
  src: url(fortafont);
}
@font-face {
  font-family: ledlight;
  src: url(LEDLIGHT);
}
@font-face {
  font-family: metal;
  src: url(MetalBlockUltra);
}

#root {
  height: 100% !important;
  padding: 1px !important;
  margin: 0;
  /* background-color: red; */
  background-image: url("/shubham-dhage--2eXWZkliWo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body {
  height: 100vh;
  
}

/* LANDING PAGE */

/* .landingpage-container {
  background-color: rgba(179,179,179,.01);
  backdrop-filter: blur(5px);
  color:rgb(244, 243, 241);
} */


.login-btn {
  /* font-family: ledlight; */
} 

/* .login-btn:hover {
  border-radius: 75px;
  color:rgb(244, 243, 241);
  transform: scale(1.2);
  box-sizing: border-box;
} */
.brand {
  font-size: clamp(1em, 6vw, 10em);
  /* font-family: ledlight; */
}

/* LOGIN PAGE */

.field-container {
  background-color: rgba(179,179,179,.01);
  backdrop-filter: blur(5px);
  color: rgb(244, 243, 241);
}

::placeholder {
  font-family: 'Forta', sans-serif !important;
}

.font-forta {
  font-family: 'Forta', sans-serif;
}

.login-successful {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(10px);
  color: black;
}

.loginbutton-container {
  color: rgb(244, 243, 241);
}

/* EVENT PAGE  */

.zipinput-container {
  background-color: rgba(179,179,179,.01);
  backdrop-filter: blur(5px);
  color: rgb(244, 243, 241);
}



/* HOMEPAGE */

.listofplaylists {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(10px);
  color: black;
}
.welcome-text {
  color:rgb(244, 243, 241);
}

.createplaylist-container {
  background-color: rgba(179,179,179,.01);
  backdrop-filter: blur(5px);
}
.createplaylist-btn {
  color:rgb(244, 243, 241);
}


.closeplaylists:hover {
  border-radius: 75px;
  color: black;
  transform: scale(1.2);
  box-sizing: border-box;
}

.playlists-homepage-container {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(2px);
  color: black;
  height: fit-content;
  justify-content: ;
}
.songs-homepage-container {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(2px);
  color: black;
  height: fit-content;
}
.searchresults-homepage-container {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(2px);
  color: black;
  height: fit-content;
}

/* NAVBAR */

/* MUSIC PLAYER COMPONENT */

.dock {
  background-color: black;
  backdrop-filter: blur(2px);
  color: rgb(244, 243, 241);
  width: 100vw;
}

progress::-webkit-progress-bar {
  background-color: rgb(244, 243, 241);
}

/* Style for Firefox */
progress::-moz-progress-bar {
  background-color: rgb(244, 243, 241);
}

/* SIGNUP PAGE */

.signupinfocontainer {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(2px);
  color: rgb(244, 243, 241);
}
.createaccount-btn {
  color: rgb(244, 243, 241);
}

.account-created {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(5px);
  color: black;
}

/* ALERTS */

.removed-alert {
  background-color: rgba(244, 243, 241, 1);
  backdrop-filter: blur(2px);
  color: black;
}

.updated-alert {
  background-color: white;
  backdrop-filter: blur(10px);
  color: black;
}
/* SETTINGS PAGE */

.search-btn:hover {
  border-radius: initial;
  color: inherit;
  transform: none;
  box-sizing: inherit;
}

.queue-btn:hover {
  border-radius: initial;
  color: inherit;
  box-sizing: inherit;
}

.logoutbutton:hover {
  border-radius: initial;
  color: inherit;
  transform: none;
  box-sizing: inherit;
}