
@font-face {
  font-family: forta, sans-serif;
  src: url(fortafont);
}

#root {
  height: 100% !important;
  padding: 1px !important;
  margin: 0;
  /* background-color: red; */
  background-image: url("/shubham-dhage--2eXWZkliWo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body {
  height: 100vh;
  
}

.landingpage-container {
  background-color: rgba(179,179,179,.01);
  backdrop-filter: blur(5px);
  color: rgb(250, 245, 230);
  font-family: forta;
}

.login-container {
  background-color: rgba(179,179,179,.01);
  backdrop-filter: blur(5px);
  color: rgb(250, 245, 230);
  font-family: forta;
}

.brand {
  font-size: clamp(1em, 6vw, 10em);
}

.login-btn:hover {
  border-radius: 75px;
  color:rgb(250, 245, 230);
  transform: scale(1.2);
  box-sizing: border-box;
}

.field-container {
  background-color: rgba(179,179,179,.01);
  backdrop-filter: blur(5px);
  color: rgb(250, 245, 230);
  font-family: forta;
}

.signup-btn:hover {
  border-radius: 75px;
  color:rgb(250, 245, 230);
  transform: scale(1.2);
  box-sizing: border-box;
}

.welcome-text {
  font-family: forta;
  color:rgb(250, 245, 230);
}

.home-btn:hover {
  border-radius: 75px;
  color:rgb(250, 245, 230);
  transform: scale(1.2);
  box-sizing: border-box;
}
.createplaylist-container {
  background-color: rgba(179,179,179,.01);
  backdrop-filter: blur(5px);
  /* color: rgb(250, 245, 230); */
  font-family: forta;
}
.createplaylist-btn {
  color:rgb(250, 245, 230);
}
.createplaylist-btn:hover {
  border-radius: 75px;
  color:rgb(250, 245, 230);
  transform: scale(1.1);
  box-sizing: border-box;
}

.navbar {
  font-family: forta;
}

.dock {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(2px);
  color: rgb(250, 245, 230);
  font-family: forta;
}

progress::-webkit-progress-bar {
  background-color: rgb(250, 245, 230);
}

/* Style for Firefox */
progress::-moz-progress-bar {
  background-color: rgb(250, 245, 230);
}

.signupinfocontainer {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(2px);
  color: rgb(250, 245, 230);
  font-family: forta;
}
.createaccount-btn {
  color: rgb(250, 245, 230);
  font-family: forta;
}

.createaccount-btn:hover {
  border-radius: 75px;
  color:rgb(250, 245, 230);
  transform: scale(1.2);
  box-sizing: border-box;
}
.account-created {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(5px);
  color: black;
  font-family: forta;
}
.playlists-homepage-container {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(2px);
  color: black;
  font-family: forta;
}
.songs-homepage-container {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(2px);
  color: black;
  font-family: forta;
}
.searchresults-homepage-container {
  background-color: rgba(179,179,179, 0.1);
  backdrop-filter: blur(2px);
  color: black;
  font-family: forta;
}
.events-link:hover {
  border-radius: 75px;
  color:rgb(250, 245, 230);
  transform: scale(1.2);
  box-sizing: border-box;
}
.removed-alert {
  background-color: rgba(230, 230, 235, 1);
  backdrop-filter: blur(2px);
  color: black;
  font-family: forta;
}